<!-- drawing D3 -->
<!-- location of ISS -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <link rel='stylesheet' type='text/css' href='public/css/onepage-scroll.css'>

        <!-- stylesheet -->
        <link rel="stylesheet" type="text/css" href="public/css/stylesheet.css">
        <link rel="stylesheet" type="text/css" href="public/css/animation.css">

    </head>
    
    <body>
        <div class="main">
            <section class="page1">
                <!-- give us little margin --> 
                
                <div id="titleDiv">
                    <img id="title" src="public/images/UI/title_01.png">
                </div>
                
                <img id="birds1" class="birds_a" src="public/images/illust_01/birds_01.png">
                <img id="birds2" class="birds_a" src="public/images/illust_01/birds_02.png">

                <img id="girl" src="public/images/illust_01/girl.gif">
                <img id="airplane" src="public/images/illust_01/airplane.png">
                <img id="car" src="public/images/illust_01/car_01_1.gif">

                <img class="clouds cloudsA" id="cloud2" src="public/images/illust_01/cloud_01.png">
                <img class="clouds cloudsB" id="cloud3" src="public/images/illust_01/cloud_03.png">
                <img class="clouds cloudsB" id="cloud4" src="public/images/illust_01/cloud_04.png">
                <img class="clouds cloudsA" id="cloud1" src="public/images/illust_01/cloud_01.png">
                <img class="clouds cloudsA" id="cloud5" src="public/images/illust_01/cloud_01.png">
                <img class="clouds cloudsB" id="cloud6" src="public/images/illust_01/cloud_03.png">

        

                <div id="background1">
                    <div id="blank"></div>
                    <div id="bigCloud"></div>
                </div>

            </section>
            <!-- weather -->
            <section class="page2">
                <div id="opaque"></div>
                <img id="train" class='illustration' src="public/images/illust_02/train_01.png">
                <div id="scenery" class='illustration'></div>
                
                <div id="wrapper1">
                    <div id="inputData">
                        <div id="littleMargin"></div>
                        <input type="text" id="city" placeholder="where you want to go?">
                        <button id="searchWeather">SEARCH</button>
                    </div>
                    
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <div id="dataPrint_wrap">
                        <span id="indication">select the date you are going to travel</span>
                        <br>
                        <br>
                        <br>
                        <div id="dataPrint_top"></div>
                        
                        <div id="dataPrint_bottom"></div>
                    </div>
                    <br>
                    <br>
                    <div id="countdown"></div>

                </div>

            </section>

            
            <section class="page3">



                <div id="wrapper2">
                
                    <div id="wrapperForButton">
                        <button class="buttons" id="add">+</button>
                        <button class="buttons" id="clear">clear bag</button>
                        <button class="buttons" id="save">save</button>
                        <button class="buttons" id="print">print</button>

                        <button class="buttons" id="displaySlug"></button>
                    </div>

                    <div id="wraper3bottom">
                        <div id="rightWrapper">
                            <div id="recyclingBin"></div>
                        </div>

                        <div id="bagDiv">
                            <div id="bagLeft">
                                <div id="purposesWrap">
                                    <br>
                                    <button class="purposes" id="business">business</button><br><br>
                                    <button class="purposes" id="skiing">skiing</button><br><br>
                                    <button class="purposes" id="swimming">swimming</button><br><br>
                                    <button class="purposes" id="camping">camping</button>
                                </div>
                            </div>
                            <div id="topMarginDiv"></div>
                            <div id="bagRight"></div>
                        </div>
                    </div>


                </div>


            </section>

<!-- 
            <section class="page4">
                Done by Neva and Woon with Love &#60;3
            </section> -->

        </div> <!-- main -->
    {{#slug}}
    <div id="slug" data-slug="{{slug}}"></div>
    {{/slug}}    
    </body>

    <!-- scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

    <!-- onepage scroll -->
    <script type="text/javascript" src="public/js/jquery.onepage-scroll.js"></script>
    <script type="text/javascript" src="public/js/jquery.disablescroll.min.js"></script>

    <!-- socket.io -->
    <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>       
    <script src="public/js/main.js"></script>
</html>
