.button {
  border-top: 1px solid #000333;
  background: #000333;
  padding: 7px 14px;
  -webkit-box-shadow: black 0 1px 0;
  -moz-box-shadow: black 0 1px 0;
  box-shadow: black 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: #ffffff;
  vertical-align: middle;
}

.button:hover {
  border-top-color: #4f84a8;
  background: #4f84a8;
  color: #ffffff;
}

.button:active {
  border-top-color: #1b435e;
  background: #1b435e;
}

/* load the font face from local machine */
@font-face {
  font-family: gotham-book;
  src: url(fonts/Gotham-Book.otf);
}
@font-face {
  font-family: gotham-light;
  src: url(fonts/Gotham-Light.otf);
}
@font-face {
  font-family: gotham-thin;
  src: url(fonts/Gotham-Thin.otf);
}
/*****************************************/
body {
  width: 100%;
  margin: 0;
  font-family: gotham-light;
  font-size: 10px;
  background-color: #E9E8E8;
}

/*****************************************/
.main section.page3 {
  height: 1300px;
}

/*****************************************/
#wrapper1 {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#inputData {
  height: 40px;
}

#city {
  border: 0px solid #006;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: gotham-book;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 300px;
  height: 38px;
}

#searchWeather {
  border: 0px solid #006;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: gotham-book;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #98cdb4;
  width: 100px;
  height: 40px;
  color: white;
}

.weather {
  width: 40%;
}

.dates {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: gotham-book;
}

#dataPrint_wrap {
  width: 60%;
  margin: 0 auto;
}

.dateDiv {
  width: 100px;
  float: left;
}
.dateDiv:hover {
  background-color: #FFFFFF;
}

#indication {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

#dataPrint_top {
  height: 100px;
}

#dataPrint_bottom {
  height: 100px;
}

#countdown {
  font-size: 18px;
}

.purposes {
  border: 0px solid #006;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: gotham-book;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: black;
  color: white;
}
.purposes:hover {
  background-color: #fd706c;
}

/******************** PAGE 2 *********************/
#wrapper2 {
  margin-top: 40px;
  margin-left: 100px;
}

/* buttons for page 2 */
.buttons {
  border: 0px solid #006;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: gotham-book;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: black;
  color: white;
}
.buttons:hover {
  background: blue;
}

#bagDiv {
  width: 55%;
  height: 700px;
  background-image: url("../images/objects/c_bag.png");
  background-size: 95% 95%;
  background-repeat: no-repeat;
}

#bag {
  width: 100%;
}

#recyclingBin {
  width: 300px;
  height: 600px;
  float: right;
  background-color: magenta;
}

/**************************************************/
/** items */
#utensils {
  width: 15%;
}

#raincoat {
  width: 40%;
}
