/* load the font face from local machine */
@font-face {
  font-family: gotham-book;
  src: url(fonts/Gotham-Book.otf);
}
@font-face {
  font-family: gotham-light;
  src: url(fonts/Gotham-Light.otf);
}
@font-face {
  font-family: gotham-thin;
  src: url(fonts/Gotham-Thin.otf);
}
/*****************************************/
body {
  width: 100%;
  margin: 0;
  font-family: gotham-light;
  font-size: 10px;
  background-color: #E9E8E8;
}

.sections {
  height: 600px;
}

/********************************************/
#section1 {
  background-color: #98cdb4;
  display: block;
}

#titleDiv {
  width: 600px;
  height: 200px;
  margin: 0 auto;
  visibility: hidden;
}

#title {
  width: 100%;
  /* margin from top */
  margin-top: 0px;
}

/********************************************/
#section2 {
  background-color: #feedb0;
}

#wrapper1 {
  position: relative;
  -webkit-transform: translateY(-14%);
  -ms-transform: translateY(-14%);
  transform: translateY(-14%);
  width: 100vw;
  text-align: center;
  z-index: 400;
}

#inputData {
  height: 40px;
}

#city {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
  height: 33px;
  padding: 6px 16px;
  display: inline-block;
  font-family: gotham-light;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #eeeeee;
  border-bottom: 1px solid #eeeeee;
  width: 300px;
  height: 20px;
}

#searchWeather {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
  height: 33px;
  padding: 6px 16px;
  display: inline-block;
  font-family: gotham-light;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-left: 10px;
  background-color: #fd706c;
  color: #FFFFFF;
  border-bottom: 4px solid #e45953;
}
#searchWeather:hover {
  background-color: #ff8883;
}

.weather {
  width: 60%;
  margin-top: 10%;
  margin-bottom: 6%;
}

.dates {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: gotham-book;
}

#dataPrint_wrap {
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

.dateDiv {
  width: 80px;
  float: left;
  margin: 10px 5px;
  padding: 10px 16px;
  background-color: RGBA(154, 229, 217, 0.6);
}
.dateDiv:hover {
  background-color: RGBA(154, 229, 217, 0.9);
}

#indication {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

#dataPrint_top {
  height: 150px;
  margin-left: 10%;
  text-align: center;
}

#dataPrint_bottom {
  height: 150px;
  margin-left: 10%;
}

#countdown {
  font-size: 18px;
}

/********************************************/
#section3 {
  background-color: #fd706c;
}

#section4 {
  background-color: #fd9459;
}

/************************************************/
/* MEDIA QUERY */
/* smartphone ----------- */
/* portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .sections {
    height: 300px;
  }

  #titleDiv {
    width: 300px;
  }
}
