/* load the font face from local machine */
@font-face {
  font-family: gotham-book;
  src: url(fonts/Gotham-Book.otf);
}
@font-face {
  font-family: gotham-light;
  src: url(fonts/Gotham-Light.otf);
}
@font-face {
  font-family: gotham-thin;
  src: url(fonts/Gotham-Thin.otf);
}
/*****************************************/
body {
  width: 100%;
  margin: 0;
  font-family: gotham-light;
  font-size: 10px;
  background-color: #E9E8E8;
}

/*****************************************/
.main section.page3 {
  height: 1300px;
}

/*****************************************/
#titleDiv {
  margin: 0 auto;
  width: 60%;
}

#title {
  width: 50%;
  position: fixed;
  z-index: 10;
  top: 20%;
}

/*****************************************/
#indication {
  visibility: hidden;
}

#wrapper1 {
  position: relative;
  top: 14%;
  -webkit-transform: translateY(-14%);
  -ms-transform: translateY(-14%);
  transform: translateY(-14%);
  position: absolute;
  width: 100vw;
  text-align: center;
  z-index: 400;
}

#inputData {
  height: 40px;
}

#city {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
  height: 33px;
  padding: 6px 16px;
  display: inline-block;
  border-radius: 5px;
  font-family: gotham-light;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #eeeeee;
  border-bottom: 1px solid #eeeeee;
  width: 300px;
  height: 20px;
}

#searchWeather {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
  height: 33px;
  padding: 6px 16px;
  display: inline-block;
  border-radius: 5px;
  font-family: gotham-light;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-left: 10px;
  background-color: #fd706c;
  color: #FFFFFF;
  border-bottom: 4px solid #e45953;
}
#searchWeather:hover {
  background-color: #ff8883;
}

.weather {
  width: 60%;
  margin-top: 10%;
  margin-bottom: 6%;
}

.dates {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: gotham-book;
}

#dataPrint_wrap {
  text-align: center;
  margin: 0 auto;
  width: 70%;
}

.dateDiv {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 80px;
  float: left;
  margin: 10px 5px;
  padding: 10px 16px;
  background-color: RGBA(154, 229, 217, 0.6);
}
.dateDiv:hover {
  background-color: RGBA(154, 229, 217, 0.9);
}

#indication {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

#dataPrint_top {
  height: 150px;
  margin-left: 10%;
  text-align: center;
}

#dataPrint_bottom {
  height: 150px;
  margin-left: 10%;
}

#countdown {
  font-size: 18px;
}

/******************** PAGE 4 - BAG *********************/
#wrapper2 {
  height: 100vh;
}

#wrapperForButton {
  background-color: white;
  height: 5%;
}

#wraper3bottom {
  height: 95vh;
}

#bagDiv {
  width: 90vw;
  height: 95vh;
  background-image: url("../images/objects/bag.png");
  background-size: 102% 100%;
  background-repeat: no-repeat;
}

#bagLeft {
  float: left;
  width: 40%;
  height: 100%;
}

#topMarginDiv {
  height: 12%;
}

#bagRight {
  position: absolute;
  width: 40%;
  height: 46%;
  margin-left: 42%;
  margin-right: 10%;
}

#rightWrapper {
  width: 10vw;
  height: 100%;
  float: right;
}

#recyclingBin {
  width: 80px;
}

#itemList {
  height: 90%;
}

#purposesWrap {
  padding-left: 20%;
  padding-top: 40%;
}

.purposes {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
  height: 33px;
  padding: 6px 16px;
  display: inline-block;
  border-radius: 5px;
  font-family: gotham-light;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: white;
  color: #252525;
  border-bottom: 4px solid #c9c9c9;
  padding: 8px 10px;
  font-size: 10px;
  height: 30px;
}
.purposes:hover {
  background-color: #eeeeee;
}

/* buttons for page 2 */
.buttons {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
  height: 33px;
  padding: 6px 16px;
  display: inline-block;
  border-radius: 5px;
  font-family: gotham-light;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}

#checkListName {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
  height: 33px;
  padding: 6px 16px;
  display: inline-block;
  border-radius: 5px;
  font-family: gotham-light;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #feedb0;
  border-bottom: 1px solid #feedb0;
  width: 300px;
  height: 20px;
}

#add {
  background-color: #fd9459;
  border-bottom: 4px solid #e45953;
}
#add:hover {
  background-color: #ff8883;
}

#clear {
  background-color: #fd706c;
  border-bottom: 4px solid #e45953;
}
#clear:hover {
  background-color: #ff8883;
}

#save {
  background-color: #98cdb4;
  border-bottom: 4px solid #e45953;
}
#save:hover {
  background-color: #ff8883;
}

#getCheckList {
  background-color: white;
  color: #252525;
  border-bottom: 4px solid lightgray;
  margin-right: 100px;
}
#getCheckList:hover {
  background-color: #ff8883;
}

#displaySlug {
  visibility: hidden;
  margin-left: 100px;
  background-color: #98cdb4;
  border-bottom: 4px solid #e45953;
}
#displaySlug:hover {
  background-color: #ff8883;
}

/****************************************************/
#checklistWrapper {
  width: 70%;
  margin: 0 auto;
}

#checkListContent {
  height: 80vh;
  display: table;
}

#yourCheckList {
  font-size: 14px;
}

.content {
  float: left;
  width: 140px;
  height: 35px;
  vertical-align: middle;
}

.checkboxes {
  width: 16px;
  float: left;
}

.itemText {
  vertical-align: top;
  display: table-cell;
  font-size: 13px;
}

/**************************************************/
.items {
  float: left;
  display: table-cell;
  z-index: 500;
}

.small {
  width: 60px;
  height: 60px;
}

.small img {
  width: 100px;
}

/*** business **/
#umbrella {
  width: 10%;
}

#travelpillow {
  width: 10%;
}

#toothbrush {
  width: 10%;
}

#TicTack {
  width: 5%;
}

#socks {
  width: 5%;
}

#skirt {
  width: 12.5%;
}

#shoesWinter {
  width: 6.5%;
}

#shoesFancy {
  width: 5%;
}

#shoes {
  width: 6.5%;
}

#shirt {
  width: 7.5%;
}

#shampoo {
  width: 7.5%;
}

#scarf {
  width: 10%;
}

#rainCoat {
  width: 10%;
}

#pajamas {
  width: 7.5%;
}

#phoneCharger {
  width: 6.5%;
}

#phone {
  width: 5%;
}

#pen {
  width: 2.5%;
}

#passport {
  width: 5%;
}

#perfume {
  width: 9%;
}

#pants {
  width: 9%;
}

#panties {
  width: 8%;
}

#pads {
  width: 8%;
}

#notebook {
  width: 5%;
}

#medicine {
  width: 5%;
}

#makeup {
  width: 9%;
}

#lighter {
  width: 3%;
}

#lenses {
  width: 8.5%;
}

#jacket {
  width: 9%;
}

#idCard {
  width: 6.5%;
}

#hairDrier {
  width: 11.5%;
}

#headphones {
  width: 11.5%;
}

#glasses {
  width: 9%;
}

#freshBreath {
  width: 6.5%;
}

#flashDrive {
  width: 4%;
}

#folders {
  width: 11.5%;
}

#computerCharger {
  width: 10%;
}

#computer {
  width: 17%;
}

#cameraDigital {
  width: 6.5%;
}

#businessCards {
  width: 5%;
}

#bowTie {
  width: 7%;
}

/*** skiing **/
#towel {
  width: 15%;
}

#sweater {
  width: 9%;
}

#sunblock {
  width: 7.5%;
}

#snowboard {
  width: 27.5%;
}

#snickers {
  width: 9%;
}

#skisticks {
  width: 27.5%;
}

#skies {
  width: 32.5%;
}

#skiboots {
  width: 10%;
}

#snowboardboots {
  width: 10%;
}

#hat {
  width: 10%;
}

#gloves {
  width: 10%;
}

#flashlight {
  width: 7.5%;
}

#bandages {
  width: 5%;
}

#filmRoll {
  width: 4%;
}

/*** swimming **/
#swimingsuitMan {
  width: 7.5%;
}

#swimmingglasses {
  width: 7%;
}

#soccerBall {
  width: 7%;
}

#duckfeet {
  width: 10%;
}

#divingMask {
  width: 12%;
}

#cap {
  width: 10%;
}

#cameraAnalog {
  width: 7.5%;
}

#bikini {
  width: 12%;
}

/*** camping **/
#utensils {
  width: 5%;
}

#tent {
  width: 20%;
}

#tape {
  width: 7%;
}

#sleepingbag {
  width: 12.5%;
}

#blanket {
  width: 17%;
}

#airpillow {
  width: 10%;
}
