// this will be the variable for color
$bGreen : #98CDB4;
$bYellow : #FEEDB0;
$bRed : #FD706C;
$bOrange: #FD9459;
$bBlue: #8BE1D0;


@mixin buttonTraits{
	border: 0px solid #006;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 10px;

	font-family: gotham-book;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



/////////////////////////////////////////
/* load the font face from local machine */
@font-face {
    font-family: gotham-book;
    src: url(fonts/Gotham-Book.otf);
}

@font-face{
	font-family: gotham-light;
	src: url(fonts/Gotham-Light.otf);
}

@font-face{
	font-family: gotham-thin;
	src: url(fonts/Gotham-Thin.otf);
}

/*****************************************/
body {
    width: 100%;
    margin: 0;

	font-family: gotham-light;
    font-size: 10px;
    background-color: #E9E8E8;
}


/*****************************************/

.main section.page1 {

}

.main section.page2 {

	height: 1300px;
}

.main section.page3 {
	height: 1300px;
}


/*****************************************/
#wrapper1{
	text-align: center;
	@include vertical-align;

}

#inputData{
	height: 40px;
}

	#city{
		@include buttonTraits;
		width: 300px;
		height: 38px;
	}	

	#searchWeather{
		@include buttonTraits;
		background-color: $bGreen;
		width: 100px;
		height: 40px;
		color: white;
	}

.weather{
	width: 40%;
}

.dates{
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-family: gotham-book;
}

// we need to figure it out - center align thing.. :(
#dataPrint_wrap{
	width: 60%;
	margin: 0 auto;
	// background-color: red; 
}

.dateDiv{
	width: 100px;
	float: left;

	&:hover{
		background-color: #FFFFFF;
	}
}


#indication{
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

#dataPrint_top{
	height: 100px;
}

#dataPrint_bottom{
	height: 100px;
}

#countdown{
	font-size: 18px;
}

#purpose{
}

	.purposes{
		@include buttonTraits;
		background-color: black;
		color: white;

		&:hover{
			background-color: $bRed;
		}

	}

/******************** PAGE 2 *********************/
#wrapper2{
	margin-top: 40px;
	margin-left: 100px;
}

#wrapperForButton{
}

/* buttons for page 2 */
.buttons {
	@include buttonTraits;
	background-color: black;
	color: white;

	&:hover{
		background: blue;
	}
}

#bagDiv{
	width:55%;
	height: 700px;

	background-image: url("images/c_bag.png");
	background-size: 95% 95%;
	background-repeat: no-repeat;
}

#bag{
	width: 100%;
}

#recyclingBin{
	width: 300px;
	height: 600px;
	float: right;
	background-color: magenta;
}

/**************************************************/
/** items */
#utensils{
	width: 15%;
}

#raincoat{
	width: 40%;
}
